<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-item>
    <ion-title class="titulo">
      Galebox
    </ion-title>
    <ion-avatar slot="end">
      <ion-icon name="person-circle-outline" style="width: 6vh; height: 6vh;"></ion-icon>
    </ion-avatar>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let post of posts" size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{post.titulo}}</ion-card-title>
          </ion-card-header>
          <img [src]=" 'http://localhost:1337' + post.imagen.formats.small.url">
      
          <ion-card-content>
            {{post.descripcion}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
