
<ion-header [translucent]="false">
  <ion-toolbar>
  <ion-item>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
          </ion-buttons>
          <ion-title>Galebox</ion-title>
          <ion-icon name="arrow-forward" slot="end" class="titulo" routerLink="/home"></ion-icon>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-item>
  </ion-toolbar>
</ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let post of posts" size="12" size-md="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title style="margin-top: 3vh;">{{post.titulo}}</ion-card-title>
                <ion-chip>
                  <ion-label>{{post.categoria}}</ion-label>
                </ion-chip>
              </ion-card-header>
              <img src={{post.imagen}} style="cursor: pointer;">
              <ion-card-content> 
                <ion-label>{{post.descripcion}}</ion-label> 
                  <div style="padding-top: 4vh; text-align: end;">
                    
                      <ion-button color="warning" [routerLink]="['/','post','edit',post.id]" >Modificar</ion-button>
                    
                    
                    <ion-button color="danger" (click) ="deletePost(post.id)">Eliminar</ion-button>
                  </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
