<ion-content  class="background">
  <ion-grid>
    <ion-row>
      <ion-col size ="1">
        <div>
          <ion-icon name="arrow-back" slot="end" class="titulo" routerLink="/home"></ion-icon>
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = "1" size-md ="4"></ion-col>
      <ion-col size = "10" size-md ="4">
        <ion-card style="margin-top: 10vh;">
          <ion-card-header>
            <br>
            <ion-card-title class="titulo">Galebox</ion-card-title>
            <ion-card-subtitle style="text-align: center;">Acceder</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content class="carta">
            <ion-item>
              <ion-label position="floating" color="medium">Correo:</ion-label>
              <ion-input type="email" #username></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"color="medium" >Contraseña:</ion-label>
              <ion-input type="password" #password></ion-input>
            </ion-item>
            <br>
            <div style="text-align: center;">
              <ion-button color="warning" (click)="login(username, password)">Ingresar</ion-button>
            </div>
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

