<ion-header>
  <ion-toolbar>
    <ion-title>{{editing ? 'Editar' : 'Publicar'}}</ion-title>
    <ion-icon name="arrow-forward" slot="end" class="titulo" routerLink="/home"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-md="3">
      </ion-col>
      <ion-col size="12" size-md="6" style="text-align: center; align-items: center;">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{editing ? 'Editar Publicación' : 'Nueva Publicación' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label position="floating" color="medium">Titulo:</ion-label>
              <ion-input #titulo></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-item>
                <ion-label color="medium">Categoria</ion-label>
                <ion-select okText="Aceptar" cancelText="Cancelar" style="width: 50vh;" #categoria>
                  <ion-select-option value="deporte">deporte</ion-select-option>
                  <ion-select-option value="salud">salud</ion-select-option>
                  <ion-select-option value="entretenimiento">entretenimiento</ion-select-option>
                  <ion-select-option value="comida">comida</ion-select-option>
                  <ion-select-option value="viaje">viaje</ion-select-option>
                  <ion-select-option value="comedia">comedia</ion-select-option>
                  <ion-select-option value="educacion">educacion</ion-select-option>
                  <ion-select-option value="NSFW">NSFW</ion-select-option>
                  <ion-select-option value="hogar">hogar</ion-select-option>
                  <ion-select-option value="vacaciones">vacaciones</ion-select-option>
                  <ion-select-option value="naturaleza">naturaleza</ion-select-option>
                  <ion-select-option value="videojuegos">videojuegos</ion-select-option>
                </ion-select>
              </ion-item>
              
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" color="medium" >Añadir Imagen:</ion-label>
              <br/>
              <input (change)="captureFile($event)" type="file" #imagen>
              <div *ngIf="previsualizacion && !editing">
                <img [src]="previsualizacion">
              </div>
              <div *ngIf="editing">
                <img src="{{p.imagen}}">
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" color="medium" >Añadir descripción:</ion-label>
              <ion-input #descripcion></ion-input>
            </ion-item>
            <ion-button color= "warning" style="margin-top: 4vh;" [disabled]="loading" (click) = "editing ? updatePost(p.id, titulo, descripcion, imagen, categoria) : guardarPost(titulo, descripcion, categoria)">{{(loading) ? 'Cargando...' : 'Guardar' }}</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
