<ion-content  class="background">
  <ion-grid class="">
    <ion-row>
      <ion-col size ="1">
        <div>
          <ion-icon name="arrow-back" slot="end" class="titulo" routerLink="/home" style="color: black;"></ion-icon>
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" size-md="4"></ion-col>
      <ion-col size="10" size-md="4">
        <ion-card style="margin-top: 4vh;">
          <ion-card-header>
            <br>
            <ion-card-title class="titulo">Galebox</ion-card-title>
            <ion-card-subtitle style="text-align: center;">Registrarse</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content class="carta">
            <ion-item counter="true">
              <ion-label position="floating" color="medium">Nombre de usuario:</ion-label>
              <ion-input #username maxlength="50" required="true"></ion-input>
            </ion-item>
            <ion-item counter="true">
              <ion-label position="floating" color="medium">Correo:</ion-label>
              <ion-input type="email" required="true" maxlength="150" minlength="8" #email ngModel email></ion-input>
              <ion-note slot="helper">Enter a valid email</ion-note>
              <ion-note slot="error">Invalid email</ion-note>
            </ion-item>
            <ion-item counter="true">
              <ion-label position="floating"color="medium" >Contraseña:</ion-label>
              <ion-input type="password" required="true" maxlength="30" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" message="La contraseña debe tener al menos 8 caracteres y contener al menos una letra, un número y un carácter especial." #password></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed"color="medium" >Foto:</ion-label>
            </ion-item>
            <ion-input type="file" (change)="captureFile($event)" #foto></ion-input>
            <div *ngIf="previsualizacion">
              <img [src]="previsualizacion">
            </div>
            <br>
            <div style="text-align: center;">
              <ion-button color="warning" (click) ="guardarCuenta(username, email, password)">Registrarse</ion-button>
            </div>
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>